[Unit]
Description=Use podman to run untrusted Haxe code in a read-only container

[Container]
Image=ghcr.io/l0go/haxesandbox:latest
ReadOnly=true
ReadOnlyTmpfs=false
PublishPort=1337:1111
Mount=type=tmpfs,destination=/var/haxelib,tmpfs-size=500000000
Mount=type=tmpfs,destination=/var/haxe,tmpfs-size=500000000
Secret=haxe_authkey,mode=0400 

[Install]
WantedBy=multi-user.target
